/*
 * Globals
 */






/*
 * Base structure
 */

body {
  background-image:url(assets/images/bg-01.jpg);
}

.cover-container {
  max-width: 42em;
}
header{
  height: 104px;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  margin-left: 1rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #fff;
}

.header-shadow{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.bg-lightgray {
  background: #F8F8F8;
}
.bg-lg{
  background-color: #F0F0F0;
}
.bg-w{
  background-color: #ffffff;
}
.bg-lightred {
  background: #E45252;
}
.bg-brandred {
  background: #C74040;
}
.bg-g{
  background-color: #BFBFBF;
}
.line-brandred{
  border: 1px solid #C74040;
}
.line-gray{
  border: 1px solid #B4B4B4;
}
.text-brandred{
  color: #C74040;
}
.text-gray{
  color:#545862;
}
.text-green{
  color:#19BF63;
}
.border-lgra{
  border-left: 1px solid ;
}
.font-14{
  font-size: 14px;
}
.mbh4{
  margin-bottom: 4px;
}
.mbh20 {
  margin-bottom: 20px;
}
.mbh40 {
  margin-bottom: 40px;
}
.wmax320 {
  max-width: 320px;
}
.wmax700 {
  max-width: 700px;
}

a {
  text-decoration: none;
}
.btn:hover {
  background: #C74040;
}

footer {
  background-color: #333;
}
